<!DOCTYPE html>
<html>
  <head>
    <title>Createtsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.shopping_cart = "<%= image_url('cart_icon.png')   %>"
      window.search = "<%= image_url('search.png')   %>"
      window.mc = "<%= image_url('mc.png')   %>"
      window.pp = "<%= image_url('pp.png')   %>"
      window.aa = "<%= image_url('aa.png')   %>"
      window.visa = "<%= image_url('visa1.png')   %>"
      window.dc= "<%= image_url('dc.png')   %>"




    </script>
    <script src="https://kit.fontawesome.com/f0cf2760ec.js"></script>


    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
