<!DOCTYPE html>
<html>
  <head>
    <title>Createtsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      window.PRODUCT_API_KEY = "<%= Rails.application.credentials.etsy[:api_key] %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
