<!DOCTYPE html>
<html>
  <head>
    <title>Createtsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.shopping_cart = "<%= image_url('cart_icon.png')   %>"
      window.peace = "<%= image_url('peace.jpg')   %>"
      window.lightbulb = "<%= image_url('lightbulb.jpg')   %>"
      window.unique = "<%= image_url('unique.jpg')   %>"
      window.handmade = "<%= image_url('hand.jpg')   %>"      
      window.heart = "<%= image_url('heart.jpg')   %>"
      window.send = "<%= image_url('send.jpg')   %>"
      window.search = "<%= image_url('search.png')   %>"
      window.mc = "<%= image_url('mc.png')   %>"
      window.pp = "<%= image_url('pp.png')   %>"
      window.aa = "<%= image_url('aa.png')   %>"
      window.visa = "<%= image_url('visa1.png')   %>"
      window.dc= "<%= image_url('dc.png')   %>"
      window.landing1 = "<%= image_url('landing_candle_holder.jpg')   %>"
      window.landing2 = "<%= image_url('landing_necklace.jpg')   %>"
      window.landing3 = "<%= image_url('landing_card.jpg')   %>"
      window.landing4 = "<%= image_url('landing_coaster.jpg')   %>"
      window.landing5 = "<%= image_url('landing_wreath.jpg')   %>"
      window.landing6 = "<%= image_url('landing_ring.jpg')   %>"

      window.linkedin = "<%= image_url('linkedin.jpg')   %>"
      window.github = "<%= image_url('github.jpg')   %>"
      window.portfolio = "<%= image_url('portfolio.jpg')   %>"





    </script>
    <script src="https://kit.fontawesome.com/f0cf2760ec.js"></script>


    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
